# Xcode
shishanyouni.xcodeproj/project.pbxproj
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
Build/
*.app

# macOS
.DS_Store
._*
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

# Logs
*.log

# CocoaPods
Pods/
